version: '3'
services:
  impact-api:
    image: impact_api
    container_name: impact-api
    command: /scripts/entrypoint.sh
    environment:
      - API_PORT=3000
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=impact_api
      - DB_USER=root
      - DB_PASSWORD=
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - db
  db:
    container_name: db
    image: mariadb:10.6
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: true
      MARIADB_DATABASE: impact_api
    ports:
      - 3306:3306